apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: inventory-system-staging
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    notifications.argoproj.io/subscribe.on-deployed.slack: inventory-alerts
    notifications.argoproj.io/subscribe.on-sync-failed.slack: inventory-alerts
    notifications.argoproj.io/subscribe.on-health-degraded.slack: inventory-alerts
spec:
  project: staging
  
  source:
    repoURL: https://github.com/IT21182914/WSO2-Final-Project-Inventory-Stock-Management-Microservices-System.git
    targetRevision: main
    path: k8s/base/services
  
  destination:
    server: https://kubernetes.default.svc
    namespace: inventory-system
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
    - CreateNamespace=true
    - PrunePropagationPolicy=foreground
    - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  
  revisionHistoryLimit: 10
  
  # Health assessment
  ignoreDifferences:
  - group: apps
    kind: Deployment
    jsonPointers:
    - /spec/replicas
