apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kong-gateway-staging
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    notifications.argoproj.io/subscribe.on-deployed.slack: inventory-alerts
    notifications.argoproj.io/subscribe.on-sync-failed.slack: inventory-alerts
spec:
  project: staging
  
  source:
    repoURL: https://github.com/IT21182914/WSO2-Final-Project-Inventory-Stock-Management-Microservices-System.git
    targetRevision: main
    path: k8s/base/gateway
  
  destination:
    server: https://kubernetes.default.svc
    namespace: kong-gateway
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
    - CreateNamespace=true
    - PrunePropagationPolicy=foreground
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  
  revisionHistoryLimit: 10
